<!doctype html>
<html lang="en" ng-app="NarrowDownMenuApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowDownMenuController as narrowDownMenu">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="row">
      <div class="form-group">
        <input type="text" placeholder="search term" lass="form-control" ng-model="narrowDownMenu.searchTerm">
        <div class="narrow-button">
          <button class="btn btn-primary" ng-click="narrowDownMenu.getMenu(narrowDownMenu.searchTerm)">Narrow It Down For Me!</button>
        </div>
      </div>
      
    </div>

    <!-- found-items should be implemented as a component -->
    <found-items menu-list="narrowDownMenu.foundItemsList" on-remove="narrowDownMenu.onRemove(index)"></found-items>

</body>
</html>
